<div class="container mt-5">
  <h1 class="mb-4">Payment Form</h1>
  <div class="row">
    <div class="col-md-6">
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Reciever Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            (input)="onInputName($any($event.target).value)"
          />
        </div>
        <div class="mb-3">
          <label for="date" class="form-label">Payment Date</label>
          <input
            type="date"
            class="form-control"
            id="date"
            (input)="onInputDate($any($event.target).value)"
          />
        </div>
        <div class="mb-3">
          <label for="amount" class="form-label">Amount</label>
          <input
            type="number"
            class="form-control"
            id="amount"
            (input)="onInputAmount($any($event.target).value)"
          />
        </div>
        <div class="mb-3">
          <label for="amount" class="form-label">Miles</label>
          <input
            type="number"
            class="form-control"
            id="amount"
            (input)="onInputMiles($any($event.target).value)"
          />
        </div>
      </form>
    </div>
    <div class="col-md-5 offset-md-1">
      <div class="mb-3">
        <label class="form-label fw-bold">Reciever Name</label>
        <input
          class="form-control"
          type="text"
          readonly
          [value]="RecieverName | titlecase"
        />
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Reciever Name</label>
        <input
          class="form-control"
          type="text"
          readonly
          [value]="RecieverDate | date: 'longDate'"
        />
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Amount</label>
        <input
          class="form-control"
          type="text"
          readonly
          [value]="amount | currency"
        />
      </div>
      <div class="mb-3">
        <label class="form-label fw-bold">Kilometers</label>
        <input
          class="form-control"
          type="text"
          readonly
          [value]="miles | convert | number: '1.0-2'"
        />
      </div>
    </div>
  </div>
</div>
